*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body{
} */

.fonts-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.color-orange{
    color: #FD6E0A;
}


.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
/* shared css up */

/* main css  */

header{
    padding-top: 50px;
    background-color: #FFF8F3;
}

.logo h2{
    font-size: 45px;
    font-weight: 900;
}

nav{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}

nav .menu a{
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    color: #474747;
}
